<!-- Navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand scroller" data-section="html" href="#" class="scroller" data-section="#intro">BizonApps</a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li><a href="#" class="scroller" data-section="#about">About Us</a></li>
          <li><a href="#" class="scroller" data-section="#team">The Team</a></li>
          <li><a href="#" class="scroller" data-section="#portfolio">Portfolio</a></li>
          <li><a href="#" class="scroller" data-section="#contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end Navbar -->


<!-- #intro -->
<div class="main-container">
  <div class="container-fluid" id="intro">
    <div class="container">
      <div class="row span6 center">
        <h1><strong>BizonApps</strong> is team of professional web developers</h1>
        <p>
          We have worked in almost every facet of web developing, from blogs to social networks.
          From the beginning, we have remained punctual, communicative, and cooperative with every client we have worked with.
          We make developing our passion, and that is reflected in the final result.
        </p>
      </div>
    </div>
  </div>
  <!-- ends Intro -->


  <!-- #about -->
  <div class="container-fluid" id="about">
    <div class="container light">
      <h1>What can we offer</h1>
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <%= image_tag("icon1.png")%>
            <h3><strong>Web development</strong></h3>
            <div style="text-align: left">
                <p>We have wide experience in the following areas:</p>
                <p><strong>Languages:</strong> Ruby, PHP, SQL, JavaScript, CoffeeScript</p>
                <p><strong>PHP Frameworks:</strong> Kohana, CodeIgniter, Zend Framework</p>
                <p><strong>Ruby Frameworks:</strong> Ruby on Rails<p>
                <p><strong>JavaScript Frameworks:</strong> jQuery, AngularJS, Backbone.js</p>
            </div>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <%= image_tag("icon3.png")%>
            <h3><strong>Web design</strong></h3>
            <p>Clean, crisp and highly usable interface for websites and mobile apps. According to your desires, needs and requirements we will find a suitable solution and build perfect design that will sit in harmony with an existing brand. Responsive designs ensure your website are perfectly tailored for a multitude of devices.</p>
          </div>
        </li>

        <li class="span4">
          <div class="thumbnail">
            <%= image_tag("icon2.png")%>
            <h3><strong>Future support</strong></h3>
            <p>We never leave our clients. You can count on us to support upgrades to its product in future.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- ends About -->


  <!-- #team -->
  <div class="container-fluid" id="team">
    <div class="container dark">
      <h1>Meet the team</h1>
      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <%= image_tag("zahar.png")%>
            <h3>Zahar</h3>
            <p>Senior Ruby on Rails Developer  Team leader</p>
            <div class="social">
              <a href="https://github.com/zaharpecherin" target="_blank"><%= image_tag("Github.png")%></a>
              <a href="https://www.odesk.com/users/~013de072fc318a1249" target="_blank"><%= image_tag("odesk.png")%></a>
              <a href="mailto:zahar@bizonapps.com"><%= image_tag("email.png")%></a>
            </div>
          </div>
        </li>

        <li class="span3">
          <div class="thumbnail">
            <%= image_tag("artem.png")%>
            <h3>Artem</h3>
            <p>Senior Ruby on Rails Developer</p>
            <div class="social">
              <a href="https://github.com/apecherin" target="_blank"><%= image_tag("Github.png")%></a>
              <a href="https://www.odesk.com/users/~01ddc8f5d01a98e20a" target="_blank"><%= image_tag("odesk.png")%></a>
              <a href="mailto:artem@bizonapps.com"><%= image_tag("email.png")%></a>
            </div>
          </div>
        </li>

        <li class="span3">
          <div class="thumbnail">
            <%= image_tag("1.png")%>
            <h3>Dmitry</h3>
            <p>Senior PHP / Ruby on Rails Developer</p>
            <div class="social">
              <a href="https://github.com/dmitry-litviak" target="_blank"><%= image_tag("Github.png")%></a>
              <a href="https://www.odesk.com/users/~0121d86a581efa0489" target="_blank"><%= image_tag("odesk.png")%></a>
              <a href="mailto:dmitry@bizonapps.com"><%= image_tag("email.png")%></a>
            </div>
          </div>
        </li>

        <li class="span3">
          <div class="thumbnail">
            <%= image_tag("alex.png")%>
            <h3>Alexander</h3>
            <p>Web Developer</p>
            <div class="social">
              <a href="https://github.com/alexandermedvedev" target="_blank"><%= image_tag("Github.png")%></a>
              <a href="https://www.odesk.com/users/~01c3919db5e36102c4" target="_blank"><%= image_tag("odesk.png")%></a>
              <a href="mailto:alexander@bizonapps.com"><%= image_tag("email.png")%></a>
            </div>
          </div>
        </li>

        <li class="span3" style="margin-left: 370px">
          <div class="thumbnail">
            <%= image_tag("nikolay.png")%>
            <h3>Nikolay</h3>
            <p>Web Developer</p>
            <div class="social">
              <a href="https://github.com/NikolayPetrenko" target="_blank"><%= image_tag("Github.png")%></a>
              <a href="https://www.odesk.com/users/~01f44fc55271f4bcef" target="_blank"><%= image_tag("odesk.png")%></a>
              <a href="mailto:nikolay@bizonapps.com"><%= image_tag("email.png")%></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- End Team -->

  <!-- #portfolio -->
  <div class="container-fluid" id="portfolio">
    <div class="container light">
      <h1>Portfolio</h1>
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <%= image_tag("master_logo_designs.png")%>
            <h3><strong>MasterLogoDesigns</strong></h3>
            <h4><a href="http://masterlogodesigns.com" target="_blank">http://masterlogodesigns.com</a></h4>
            <p>Site for MasterLogoDesign. Based on Twitter Bootstrap, Kohana Framework, Paypal API</p>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <%= image_tag("rent_of_apartments.png")%>
            <h3><strong>Rent of Apartments</strong></h3>
            <h4><a href="http://test.codetide-studio.com/apartments/" target="_blank">http://test.codetide-studio.com/apartments/</a></h4>
            <p>Search apartments for rent. Based on Kohana Framework, Twitter Bootstrap, Google Maps Api</p>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <%= image_tag("velvetjobs.png")%>
            <h3><strong>VelvetJobs</strong></h3>
            <h4><a href="http://velvetjobs-777.herokuapp.com" target="_blank">http://velvetjobs-777.herokuapp.com</a></h4>
            <p>VelvetJobs is a private career concierge service. We create a series of premium jobs newsletters. Based on Ruby on Rails, Amazon API, ElasticSearch</p>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <%= image_tag("rentsnapper.png")%>
            <h3><strong>Rentsnapper</strong></h3>
            <h4><a href="http://rentsnapper.com" target="_blank">http://rentsnapper.com</a></h4>
            <p>Want To Find An Apartment Easy And Hassle Free. Based on Ruby on Rails, Twitter Bootstrap</p>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <%= image_tag("bus_catchers.png")%>
            <h3><strong>Bus Catchers</strong></h3>
            <h4><a href="http://www.buscatchers.com" target="_blank">http://www.buscatchers.com</a></h4>
            <p>Are you a frequent traveller or commuter? Search all available bus tickets at once for better pricing and less hassle. Based on Twitter Bootstrap, Kohana Framework</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- ends Portfolio -->

  <!-- #contact -->
  <div class="container-fluid" id="contact">
    <div class="container dark">
      <h1>Get in contact with us</h1>

      <div class="span5">
        <form name="contact-us" id="form-contact">
          <div class="control-group">
            <label class="control-label" for="inputName">Name</label>
            <div class="controls">
              <input type="text" class="span4" id="inputName" placeholder="Name" required maxlength="50">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="email" class="span4" id="inputEmail" placeholder="Email" required maxlength="50">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputContact">Message</label>
            <div class="controls">
              <textarea id="inputContact" class="span4" required maxlength="1000"></textarea>
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-purple">Contact Us</button>
            </div>
          </div>
        </form>
      </div>

      <div class="span4">
        <p>Please contact us with any questions</p>
        <address>
          <strong>BizonApps</strong><br>
          Moskatova street 31-2, office 37<br>
          Taganrog, Rostov Region<br>
          Email: <a href="mailto:hello@bizonapps.com">hello@bizonapps.com</a><br>
          <abbr title="Phone">P:</abbr> +7 (918) 858-8270
        </address>
        <address>
          <strong>Workdays</strong><br>
          Monday - Friday, 9:00 am - 6:00 pm (GMT+4)
        </address>
      </div>
    </div>
  </div>   <!-- End Contact -->
</div>